<p id="notice"><%= notice %></p>
<div class="topnav">
  <div class="bggg">
    <div class="container">
      <div class="top-right">
        <h1>Welcome To Quill!!!</h1>
        <table>
          <thead>
          <tr>
            <div class="topnav">
              <a class="active" href="log_ins.scss">Log in </a>
              <a href="sign_ups.scss">Sign up</a>
              <a href="featured_topics.scss">Featured Topic</a>
              <a href="featured_articles.scss">Featured Article</a>
              <a href="welcomes.scss">Community </a>
              <a href="abouts.scss">About</a>
            </div>
          </tr>
          </thead>

          <tbody>
          <% @welcomes.each do |welcome| %>
            <tr>
              <td><%= link_to 'Show', welcome %></td>
              <td><%= link_to 'Edit', edit_welcome_path(welcome) %></td>
              <td><%= link_to 'Destroy', welcome, method: :delete, data: {confirm: 'Are you sure?'} %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<br>

<!-- <%= link_to 'Welcome', new_welcome_path %> -->
<div class="info">
<table>
  <thead>
  <tr>
      <a1> Weave the world with words. </a1>
      <a2> A Semi-Social Network, a healthy social media. </a2>
      <a3> Read to learn, write to express. Create your world. </a3>
  </tr>
  </thead>
</table>
</div>

<div class="about">
  <table>
    <thead>
    <tr>
      <p1>Whether it be a tool for self-expression, a means to be inspired, or a safe-space to write down
        your most personal thoughts, Quill is here to give you the freedom to be creative without the
        pressures of social media. NO obsessing on likes. NO obsessing over number of followers. Just writing,
        reading, and creating. Quill is a time capsule that captures who you are in the words you write.
        Share what you want with your groups. Save your words for the future. It all begins and ends with YOU. </p1>
    </tr>
    </thead>
  </table>
</div>

<div class="sec_4">
  <table>
    <thead>
    <tr>
      <p2>If you HAVE to use Social Media, then see what others say about us!! </p2>
    </tr>
    </thead>
  </table>
</div>