<p id="notice"><%= notice %></p>
<div class="container">
  <img src="https://images5.alphacoders.com/711/thumb-1920-711435.jpg" alt="Notebook" style="width:100%;">
  <div class="top-right">
    <h1>Welcome To Quill!!!</h1>
    <table>
      <thead>
      <tr>
        <button class="btn LogIn"><%= link_to 'New Log In', new_log_in_path %></button>
        <button class="btn SignUp">Sign up</button>
        <button class="btn FeaturedTopic">Featured Topic</button>
        <button class="btn Community">Community</button>
        <button class="btn default">Default</button>
      </tr>
      </thead>

      <tbody>
      <% @welcomes.each do |welcome| %>
        <tr>
          <td><%= link_to 'Show', welcome %></td>
          <td><%= link_to 'Edit', edit_welcome_path(welcome) %></td>
          <td><%= link_to 'Destroy', welcome, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>

<%= link_to 'New Welcome', new_welcome_path %>
