<p id="notice"><%= notice %></p>
<div class="message">
  <p> Save your words for the future.</p>
  <p> It all begins and ends with YOU.</p>
</div>
<div class="centered">
  <div class="container">
    <table>
      <thead>
      <tr>
        <a class="button-block button1" href="topics.scss">Topics</a>
        <a class="button-block button2" href="articles.scss">Articles</a>
        <a class="button-block button3" href="featured_topics.scss">Featured Topic</a>
        <a class="button-block button4" href="featured_articles.scss">Featured Article</a>
        <a class="button-block button5" href="archives.scss">Archive</a>
        <a class="button-block button6" href="settings.scss">Settings</a>
        <a class="button-block button7" href="welcomes.scss">Community</a>
        <a class="button-block button8" href="abouts.scss">About</a>
      </tr>
      </thead>

      <tbody>

      <% @homes.each do |home| %>
        <tr>
          <td><%= link_to 'Show', home %></td>
          <td><%= link_to 'Edit', edit_home_path(home) %></td>
          <td><%= link_to 'Destroy', home, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>

<!-- <%= link_to 'New Home', new_home_path %>
<%= link_to 'Log out', destroy_user_session_path, method: :delete %> !>