<p id="notice"><%= notice %></p>
<div class="bg">
  <div class="bggg">
    <div class="container">
      <table>
        <thead>
        <tr>
          <div class="text-block">
            <a class="active" href="topics.scss">Topics </a>
            <a href="articles.scss">Articles</a>
            <a href="featured_topics.scss">Featured Topic</a>
            <a href="featured_articles.scss">Featured Article</a>
            <a href="archives.scss">Archive</a>
            <a href="settings.scss">Settings</a>
            <a href="welcomes.scss">Community </a>
            <a href="abouts.scss">About</a>
          </div>
        </tr>
        </thead>

        <tbody>
        <% @homes.each do |home| %>
          <tr>
            <td><%= link_to 'Show', home %></td>
            <td><%= link_to 'Edit', edit_home_path(home) %></td>
            <td><%= link_to 'Destroy', home, method: :delete, data: {confirm: 'Are you sure?'} %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


<br>

<%= link_to 'New Home', new_home_path %>
<%= link_to 'Log out',   destroy_user_session_path,method: :delete%>