<!DOCTYPE html>
<html>
  <head>
    <title>Quill</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <%= yield %>
  <div class="top-right ">
    <div class="container-two">
      <div class="navybar">
        <a  href="homes.scss">Home</a>
        <a  href="topics.scss">Topics</a>
        <a  href="articles.scss">Articles</a>
        <a  href="featured_topics.scss">Featured Topic</a>
        <a  href="featured_articles.scss">Featured Article</a>
        <a  href="archives.scss">Archive</a>
        <a  href="settings.scss">Settings</a>
        <a  href="welcomes.scss">Community</a>
        <a  href="abouts.scss">About</a>
      </div>
    </div>
  </div>
  </body>
  </div>
</html>
