<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @article.author %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @article.topic %>
</p>

<p>
  <strong>Article:</strong>
  <%= link_to "an article", @article, remote: true %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
