<p id="notice"><%= notice %></p>
<div class="bg">
  <div class="bggg">
    <div class="centered">
      <table>
        <thead>
        <tr>
          <h1>Welcome!!!</h1>


        </tr>
        </thead>

        <tbody>
        <% @sign_ups.each do |sign_up| %>
          <tr>
            <td><%= link_to 'Show', sign_up %></td>
            <td><%= link_to 'Edit', edit_sign_up_path(sign_up) %></td>
            <td><%= link_to 'Destroy', sign_up, method: :delete, data: {confirm: 'Are you sure?'} %></td>
          </tr>
        <% end %>
        </tbody>
    </div>
  </div>
</div>
  <br>
  <%= link_to 'New Sign Up', new_sign_up_path %>
