<p id="notice"><%= notice %></p>
<div class="container">
  <img src="https://images5.alphacoders.com/711/thumb-1920-711435.jpg" alt="Notebook" style="width:100%;">
  <div class="centered">
    <table>
      <thead>
      <tr>
        <h1>Welcome Quill!!!</h1>
        <p>Whether it be a tool for self-expression, a means to be inspired, or a safe-space to write down
          your most personal thoughts, Quill is here to give you the freedom to be creative without the
          pressures of social media. NO obsessing on likes. NO obsessing over number of followers. Just writing,
          reading, and creating. Quill is a time capsule that captures who you are in the words you write.
          Share what you want with your groups. Save your words for the future. It all begins and ends with YOU. </p>
        <%= link_to 'New Sign Up', new_sign_up_path %>
      </tr>
      </thead>

      <tbody>
      <% @sign_ups.each do |sign_up| %>
        <tr>
          <td><%= link_to 'Show', sign_up %></td>
          <td><%= link_to 'Edit', edit_sign_up_path(sign_up) %></td>
          <td><%= link_to 'Destroy', sign_up, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>
