<%= form_with(model: featured_topic, local: true) do |form| %>
  <% if featured_topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(featured_topic.errors.count, "error") %> prohibited this featured_topic from being saved:</h2>

      <ul>
        <% featured_topic.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :topic %>
    <%= form.text_field :topic %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
